redirect 301 /portfolio.html http://proximityviz.com/
redirect 301 /abc-bike-counts http://proximityviz.com/abc-bike-counts
redirect 301 /apg-website http://proximityviz.com/apg-website
redirect 301 /atl-greenspaces http://proximityviz.com/atl-greenspaces
redirect 301 /biking-atlanta http://proximityviz.com/biking-atlanta
redirect 301 /books-read http://proximityviz.com/books-read
redirect 301 /cool http://proximityviz.com/cool
redirect 301 /files http://proximityviz.com/files
redirect 301 /health-stats http://proximityviz.com/health-stats
redirect 301 /logo http://proximityviz.com/logo
redirect 301 /skills http://proximityviz.com/skills
redirect 301 /techsquareatl http://proximityviz.com/techsquareatl
redirect 301 /tiy-lunch http://proximityviz.com/tiy-lunch
redirect 301 /trailmagic http://proximityviz.com/trailmagic
redirect 301 /travel http://proximityviz.com/travel
redirect 301 /search http://blog.mollietaylor.com/search
redirect 301 /2014 http://blog.mollietaylor.com/2014
redirect 301 /2013 http://blog.mollietaylor.com/2013
redirect 301 /2012 http://blog.mollietaylor.com/2012
redirect 301 /bike-n-hike http://www.bikingatlanta.com/search/label/Bike%20N%20Hike
redirect 301 /search/label/R http://blog.mollietaylor.com/search/label/R
redirect 301 /search/label/Leaflet http://blog.mollietaylor.com/search/label/Leaflet
redirect 301 /search/label/Leaflet http://blog.mollietaylor.com/search/label/Leaflet
redirect 301 /2014/02/compare-regression-results-to-specific.html http://blog.mollietaylor.com/2014/02/compare-regression-results-to-specific.html
redirect 301 /2014/02/lwimw3-trail-magic.html http://blog.mollietaylor.com/2014/02/lwimw3-trail-magic.html
redirect 301 /2014/01/append-layer-to-overlaymaps-in-leaflet.html http://blog.mollietaylor.com/2014/01/append-layer-to-overlaymaps-in-leaflet.html
redirect 301 /2014/01/add-and-remove-leaflet-circle-on-click.html http://blog.mollietaylor.com/2014/01/add-and-remove-leaflet-circle-on-click.html
redirect 301 /2014/01/embed-audio-in-leaflet-pop-up.html http://blog.mollietaylor.com/2014/01/embed-audio-in-leaflet-pop-up.html
redirect 301 /2014/01/import-json-data-from-external-file-in.html http://blog.mollietaylor.com/2014/01/import-json-data-from-external-file-in.html
redirect 301 /2013/12/make-all-polygons-same-shade-in-leaflet.html http://blog.mollietaylor.com/2013/12/make-all-polygons-same-shade-in-leaflet.html
redirect 301 /2013/12/add-spaces-between-citations-in-latex.html http://blog.mollietaylor.com/2013/12/add-spaces-between-citations-in-latex.html
redirect 301 /2013/12/check-if-variable-exists-in-r.html http://blog.mollietaylor.com/2013/12/check-if-variable-exists-in-r.html
redirect 301 /2013/10/table-as-image-in-r.html http://blog.mollietaylor.com/2013/10/table-as-image-in-r.html
redirect 301 /2013/10/line-breaks-between-words-in-axis.html http://blog.mollietaylor.com/2013/10/line-breaks-between-words-in-axis.html
redirect 301 /2013/10/custom-legend-in-r.html http://blog.mollietaylor.com/2013/10/custom-legend-in-r.html
redirect 301 /2013/10/how-to-set-up-your-app-on-shiny-beta.html http://blog.mollietaylor.com/2013/10/how-to-set-up-your-app-on-shiny-beta.html
redirect 301 /2013/09/perform-function-on-each-file-in-r.html http://blog.mollietaylor.com/2013/09/perform-function-on-each-file-in-r.html
redirect 301 /2013/09/truncate-by-delimiter-in-r.html http://blog.mollietaylor.com/2013/09/truncate-by-delimiter-in-r.html
redirect 301 /2013/09/only-load-data-if-not-already-open-in-r.html http://blog.mollietaylor.com/2013/09/only-load-data-if-not-already-open-in-r.html
redirect 301 /2013/09/using-colclasses-to-load-data-more.html http://blog.mollietaylor.com/2013/09/using-colclasses-to-load-data-more.html
redirect 301 /2013/08/plot-weekly-or-monthly-totals-in-r.html http://blog.mollietaylor.com/2013/08/plot-weekly-or-monthly-totals-in-r.html
redirect 301 /2013/08/date-formats-in-r.html http://blog.mollietaylor.com/2013/08/date-formats-in-r.html
redirect 301 /2013/03/geompoint-legend-with-custom-colors-in.html http://blog.mollietaylor.com/2013/03/geompoint-legend-with-custom-colors-in.html
redirect 301 /2013/02/shapefiles-in-r.html http://blog.mollietaylor.com/2013/02/shapefiles-in-r.html
redirect 301 /2013/02/elevation-profiles-in-r.html http://blog.mollietaylor.com/2013/02/elevation-profiles-in-r.html
redirect 301 /2013/02/gps-basemaps-in-r-using-getmap.html http://blog.mollietaylor.com/2013/02/gps-basemaps-in-r-using-getmap.html
redirect 301 /2013/02/get-citrix-xendesktop-to-work-on-linux.html http://blog.mollietaylor.com/2013/02/get-citrix-xendesktop-to-work-on-linux.html
redirect 301 /2013/01/using-line-segments-to-compare-values.html http://blog.mollietaylor.com/2013/01/using-line-segments-to-compare-values.html
redirect 301 /2013/01/storing-function-in-separate-file-in-r.html http://blog.mollietaylor.com/2013/01/storing-function-in-separate-file-in-r.html
redirect 301 /2013/01/calculating-gini-coefficients-for.html http://blog.mollietaylor.com/2013/01/calculating-gini-coefficients-for.html
redirect 301 /2013/01/stacked-bar-charts-in-r.html http://blog.mollietaylor.com/2013/01/stacked-bar-charts-in-r.html
redirect 301 /2012/12/mapping-gps-tracks-in-google-earth.html http://blog.mollietaylor.com/2012/12/mapping-gps-tracks-in-google-earth.html
redirect 301 /2012/12/mapping-gps-tracks-in-r.html http://blog.mollietaylor.com/2012/12/mapping-gps-tracks-in-r.html
redirect 301 /2012/12/workflowy-or-how-i-organize-everything.html http://blog.mollietaylor.com/2012/12/workflowy-or-how-i-organize-everything.html
redirect 301 /2012/11/sorting-within-lattice-graphics-in-r.html http://blog.mollietaylor.com/2012/11/sorting-within-lattice-graphics-in-r.html
redirect 301 /2012/11/subfigures-in-latex.html http://blog.mollietaylor.com/2012/11/subfigures-in-latex.html
redirect 301 /2012/11/white-space-in-latex.html http://blog.mollietaylor.com/2012/11/white-space-in-latex.html
redirect 301 /2012/11/units-in-latex.html http://blog.mollietaylor.com/2012/11/units-in-latex.html
redirect 301 /2012/10/palettes-in-r.html http://blog.mollietaylor.com/2012/10/palettes-in-r.html
redirect 301 /2012/10/color-blindness-and-palette-choice.html http://blog.mollietaylor.com/2012/10/color-blindness-and-palette-choice.html
redirect 301 /2012/10/random-name-generator-in-r.html http://blog.mollietaylor.com/2012/10/random-name-generator-in-r.html
redirect 301 /2012/10/adding-measures-of-central-tendency-to.html http://blog.mollietaylor.com/2012/10/adding-measures-of-central-tendency-to.html
redirect 301 /2012/09/histogram-density-plot-combo-in-r.html http://blog.mollietaylor.com/2012/09/histogram-density-plot-combo-in-r.html
redirect 301 /2012/09/descriptive-statistics-of-groups-in-r.html http://blog.mollietaylor.com/2012/09/descriptive-statistics-of-groups-in-r.html
redirect 301 /2012/09/word-clouds-in-r.html http://blog.mollietaylor.com/2012/09/word-clouds-in-r.html
redirect 301 /2012/09/text-to-columns-in-stata.html http://blog.mollietaylor.com/2012/09/text-to-columns-in-stata.html
redirect 301 /2014/02/ggplot-fit-line-and-lattice-fit-line-in.html http://blog.mollietaylor.com/2014/02/ggplot-fit-line-and-lattice-fit-line-in.html
redirect 301 /2014/02/merge-by-city-and-state-in-r.html http://blog.mollietaylor.com/2014/02/merge-by-city-and-state-in-r.html
redirect 301 /skills/js/leaflet/abc-bike-counts/ http://mollietaylor.com/portfolio/abc-bike-counts/
redirect 301 /skills/js/leaflet/abc-bike-counts/index.html http://mollietaylor.com/portfolio/abc-bike-counts/index.html
redirect 301 /skills/js/leaflet/abc-bike-counts/map.html http://mollietaylor.com/portfolio/abc-bike-counts/map.html
redirect 301 /skills/js/leaflet/atl-greenspaces/ http://proximityviz.com/atl-greenspaces/
redirect 301 /skills/js/leaflet/atl-greenspaces/mini.html http://proximityviz.com/atl-greenspaces/mini.html
redirect 301 /skills/js/leaflet/atl-greenspaces/index.html http://proximityviz.com/atl-greenspaces/index.html
redirect 301 /skills/js/leaflet/parks/draw.html http://proximityviz.com/atl-greenspaces/draw.html
redirect 301 /skills/js/leaflet/parks/smoothed.html http://proximityviz.com/atl-greenspaces/smoothed.html
redirect 301 /tboapg http://mollietaylor.com/five-game
redirect 301 /skills/js/d3/reading/index.html http://mollietaylor.com/books-read/
redirect 301 /proximity/index.php http://mollietaylor.com/proximity/index.html
redirect 301 /proximity/interactive.php http://mollietaylor.com/proximity/interactive/atlanta.html
redirect 301 /proximity/index.php http://mollietaylor.com/proximity/index.html
redirect 301 /proximity/doo.php http://mollietaylor.com/proximity/galleries/doo.html
redirect 301 /proximity/dc.php http://mollietaylor.com/proximity/interactive/dc.html
redirect 301 /proximity/clough.php http://mollietaylor.com/proximity/galleries/clough.html
redirect 301 /proximity/about.php http://mollietaylor.com/proximity/about/index.html
redirect 301 /proximity/proximity-doo.jpg http://mollietaylor.com/proximity/galleries/proximity-doo.jpg
redirect 301 /proximity/proximity4-small.jpg http://mollietaylor.com/proximity/galleries/proximity4-small.jpg
